@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@200;400;600&display=swap");

:root {
  --main-bg-color: white;
  --main-border-color: #ddd;
  --main-border: 1px solid var(--main-border-color);
  --main-detail-color: #f6f4f4;
  --main-highlight-color: #c5e7fc;
  --main-text-color: black;
  --main-link-color: #4493d1;
  --main-dropshadow-color: #222;

  --main-border-radius: 1;
  --main-dropshadow: drop-shadow(1px 1px 1px var(--main-dropshadow-color));
  --main-dropshadow-hover: drop-shadow(5px 5px 5px var(--main-dropshadow-color));

  --main-background-image: linear-gradient(var(--main-highlight-color) 1px, transparent 1px),
    linear-gradient(to right, var(--main-highlight-color) 1px, transparent 1px);

  /* --main-div-min-width: 500px; */
  --main-div-max-width: 800px;
}

/*---------------- DARK THEME ----------------------- */
[data-theme="dark"] {
  --main-bg-color: #000;
  --main-border-color: #444;
  --main-border: 1px solid var(--main-border-color);
  --main-detail-color: #333;
  --main-highlight-color: #333;
  --main-text-color: #eee;
  --main-link-color: #4493d1;
  --main-dropshadow-color: #eee;
}

/*---------------- MAIN BODY HTML CSS ----------------------- */

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  background-image: var(--main-background-image);
  background-size: 18px 18px;

  font-family: "IBM Plex Sans", sans-serif;
}
p {
  line-height: 120%;
}
li {
  margin-bottom: 10px;
}

#main {
  max-width: var(--main-div-max-width);
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--main-border-radius);
  border: var(--main-border);
  background-color: var(--main-bg-color);
  padding: 2em;
}

a {
  color: var(--main-link-color);
  /* text-decoration: none; */
  word-break: break-all;
}

a:hover {
  text-decoration: underline;
}

dfn {
  font-style: normal;
  font-weight: bold;
}
/*----------------------RESPONSIVE--------------------- */

@media screen and (max-width: 510px) {
  /* --main-div-min-width: 800px; */
  :root {
    --main-div-max-width: 100%;
  }
  html,
  body {
    padding: 0;
    /* margin: 0; */
    background: var(--main-bg-color);
    width: 100%;
  }

  #main {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: 0;
    background-color: var(--main-bg-color);
    padding: 0;
  }
}

/*--------------------------------------------------------- */

#header {
  width: 100%;
  /* display: inline; */
  display: inline-flex;
  gap: 1em;
  /* justify-content: left; */
  text-align: left;
  margin-bottom: 20px;
}

#mechanical-library-logo {
  width: 40px;
  height: 40px;

  padding-top: 4px;
  vertical-align: bottom;
}

#mechanical-library-logo .gear {
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  transition: all 2000ms ease;
}

#mechanical-library-logo .gear:hover {
  transform: rotate(360deg);
}

#mechanical-library-logo .page {
  fill: var(--main-bg-color);
}

#mechanical-library-logo .gear {
  fill: var(--main-text-color);
}

#header #mechanical-library-title {
  font-size: 36px;
  padding: 0;
  margin: 0;
  font-weight: 200;
  display: block;
}

#header a {
  text-decoration: none;
  color: var(--main-text-color);
}

/*----------------------RESPONSIVE--------------------- */

@media screen and (max-width: 510px) {
  #header svg {
    width: 80px;
  }

  #header #mechanical-library-title {
    font-size: 36px;
    line-height: 80%;
    padding-top: 8px;
  }
}

/*--------------------------------------------------------- */

#content div {
  margin-bottom: 2em;
}

.TitlePanel {
  width: 100%;
  /* height: 250px; */
  /* -webkit-filter: var(--main-dropshadow); */
  /* filter: var(--main-dropshadow); */
  /* overflow: hidden; */
  /* background-color: var(--main-text-color); */
  /* justify-content: flex-start;
  */
  align-items: center;
  gap: 50px;
  display: inline-flex;
  /* padding: 20px; */
  border: 1px solid var(--main-text-color);
}

.TitlePanel-video {
  border-right: 1px solid var(--main-text-color);
}
.TitlePanel .caption {
  /* position: absolute;
  right: 10%; */
  /* color: var(--main-bg-color); */
  font-size: 3em;
  /* font-family: IBM Plex Mono; */
  font-weight: 200;
  word-wrap: break-word;
  /* -webkit-filter: var(--main-dropshadow);
  filter: var(--main-dropshadow); */
}

.TitlePanel .caption b {
  display: block;
  font-size: 4rem;
}

/*----------------------RESPONSIVE--------------------- */

@media screen and (max-width: 510px) {
  .TitlePanel {
    width: 100%;
    /* height: 110vw; */
    display: block;
    border: 0;
  }

  .TitlePanel .caption {
    padding-left: 10px;
    font-size: 18px;
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    padding: 10px;
  }

  .TitlePanel .caption b {
    font-weight: 900;
    font-size: 24px;
    display: inline;
  }

  .TitlePanel-video {
    width: 100%;
    height: 100vw;
    /* aspect-ratio: 1/1; */
    margin: 0;
    border-right: 0px;
  }
}
/*--------------------------------------------------------- */

#content h1 {
  font-size: 200%;
  font-weight: 400;
}

#content h2 {
  font-size: 200%;
  font-weight: 200;
  margin-top: 0;
  border-bottom: var(--main-border);
  padding-top: 0;
}

#content h3 {
  /* font-size: 150%; */
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

/*--------------------------------------------------------- */
.jumpTo a:not(:last-child):after {
  content: "    |    ";
  color: var(--main-text-color);
}

#content section {
  /* max-width: 800px; */

  text-align: left;
  padding: 1rem;
  background: var(--main-detail-color);
  margin-bottom: 2rem;
}

#content section figure {
  /* display: block; */
  /* position: relative; */
  /* overflow: hidden; */
  border-radius: var(--main-border-radius);
  border: var(--main-border);
  /* padding: 20px; */
  margin-left: 0;
  /* max-width: 80%; */
}

#content section figure img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

figcaption {
  /* position: absolute; */
  background: var(--main-border-color);
  /* color: white; */
  padding: 15px;
  /* width: 100%; */
}

/* #content section figure iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.youTubeIframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 0;
  padding: 0;
  margin: 0;
}

#content section ul {
  list-style-type: circle;
}

model-viewer {
  width: 100%;
}

/*----------------------RESPONSIVE--------------------- */

@media screen and (max-width: 510px) {
  #content section {
    width: 100%;
    /* border: 1px solid red; */
    padding: 0;
    padding-bottom: 1rem;
  }

  #content section figure {
    width: 100%;
    max-width: 100%;
    margin: 0 0 40px 0;
    /* border: 10px solid green; */
  }

  .jumpTo a {
    display: inline-block;
  }
}
